<section class="p-2 my-2 rounded-4">
    <h1 class="h2 text-main">Register Now:</h1>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input
                [ngClass]="{
                'is-valid': !registerForm.get('name')?.errors && (registerForm.get('name')?.touched||registerForm.get('name')?.dirty),
                'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched||registerForm.get('name')?.dirty)}"
                formControlName="name" type="text" class="form-control" id="name">
            @if(registerForm.get('name')?.errors &&
            (registerForm.get('name')?.touched)||registerForm.get('name')?.dirty){
            @if(registerForm.get('name')?.getError('required')){
            <small class="text-danger">* Name is required</small>
            }
            @else if (registerForm.get('name')?.getError('minlength')) {
            <small class="text-danger">* Minimum 3 characters</small>
            }
            @else if(registerForm.get('name')?.getError('maxlength')){
            <small class="text-danger">*Maximum 20 characters</small>
            }
            }
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input
                [ngClass]="{
                'is-valid': !registerForm.get('email')?.errors && (registerForm.get('email')?.touched||registerForm.get('email')?.dirty),
                'is-invalid': registerForm.get('email')?.errors && (registerForm.get('email')?.touched||registerForm.get('email')?.dirty)}"
                formControlName="email" type="email" class="form-control" id="Email">
            @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched) ||
            registerForm.get('email')?.dirty) {
            @if(registerForm.get('email')?.getError('required')){
            <small class="text-danger">*Email is required</small>
            }
            @else if(registerForm.get('email')?.getError('email')){
            <small class="text-danger">*Invalid email format</small>
            }
            }
        </div>
        <div class="mb-3 position-relative">
            <label for="password" class="form-label">Password</label>
            <input
                [ngClass]="{
                'is-valid': !registerForm.get('password')?.errors && (registerForm.get('password')?.touched||registerForm.get('password')?.dirty),
                'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched||registerForm.get('password')?.dirty)}"
                formControlName="password" [type]="showPassword ? 'text':'password'" class="form-control" id="Password">
            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"
                style="position:absolute; right:30px; top:42px; cursor:pointer;"></i>


            @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched
            ||registerForm.get('password')?.dirty )) {
            @if (registerForm.get('password')?.getError('required')) {
            <small class="text-danger">*Password is required</small>
            }
            @else if (registerForm.get('password')?.getError('pattern')) {
            <small class="text-danger">*Minimum 6 characters</small>
            }
            }
        </div>
        <div class="mb-3 position-relative">
            <label for="rePassword" class="form-label">Confirm Password</label>
            <input
                [ngClass]="{
                'is-valid': registerForm.get('rePassword')?.value && !registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched||registerForm.get('rePassword')?.dirty),
                'is-invalid': registerForm.get('rePassword')?.value && registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched||registerForm.get('rePassword')?.dirty)}"
                formControlName="rePassword" type="password" class="form-control" id="rePassword">
            @if(registerForm.getError('mismatch') && registerForm.get('rePassword')?.value &&
            (registerForm.get('rePassword')?.touched||registerForm.get('rePassword')?.dirty)){
            <small class="text-danger">Passwords do not match</small>
            }<i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"
                style="position:absolute; right:30px; top:42px; cursor:pointer;"></i>
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Phone</label>
            <input
                [ngClass]="{
                'is-valid': !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty),
                'is-invalid': registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty)}"
                formControlName="phone" type="tel" class="form-control" id="Phone">
            @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched)
            ||registerForm.get('phone')?.dirty) {
            @if (registerForm.get('phone')?.getError('required')) {
            <small class="text-danger">*Phone is required</small>
            }
            @else if (registerForm.get('phone')?.getError('pattern')) {
            <small class="text-danger">*Invalid phone number</small>
            }
            }
        </div>
        <button type="submit" class="btn-main d-block ms-auto">Register
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
</section>