<section>
    <h1 class="text-center text-main">Forget Password</h1>
    @if (step() === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="emailVerification()">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input
                [ngClass]="{
                'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty),
                'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)}"
                formControlName="email" type="email" class="form-control" id="Email">
            @if (verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched) ||
            verifyEmail.get('email')?.dirty) {
            @if(verifyEmail.get('email')?.getError('required')){
            <small class="text-danger">*Email is required</small>
            }
            @else if(verifyEmail.get('email')?.getError('email')){
            <small class="text-danger">*Invalid email format</small>
            }
            }
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <a [routerLink]="['/login']" class="text-decoration-underline link-primary">Back to Login</a>
            <button type="submit" class="btn-main ">Verify Email
                @if (isLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
    }
    @else if (step() === 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="codeVerification()">
        <div class="mb-3">
            <label for="resetCode" class="form-label">code</label>
            <input
                [ngClass]="{
                'is-valid': !verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty),
                'is-invalid': verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty)}"
                formControlName="resetCode" type="text" class="form-control" id="resetCode">
            @if (verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched) ||
            verifyCode.get('resetCode')?.dirty) {
            @if(verifyCode.get('resetCode')?.getError('required')){
            <small class="text-danger">*code is required</small>
            }
            @else if(verifyCode.get('resetCode')?.getError('pattern')){
            <small class="text-danger">*Invalid code format</small>
            }
            }
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <a [routerLink]="['/login']" class="text-decoration-underline link-primary">Back to Login</a>
            <button type="submit" class="btn-main ">Verify Code
                @if (isLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
    }
    @else if (step() === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordVerification()">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input readonly
                [ngClass]="{
                'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty),
                'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)}"
                formControlName="email" type="email" class="form-control" id="Email">
            @if (verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched) ||
            verifyEmail.get('email')?.dirty) {
            @if(verifyEmail.get('email')?.getError('required')){
            <small class="text-danger">*Email is required</small>
            }
            @else if(verifyEmail.get('email')?.getError('email')){
            <small class="text-danger">*Invalid email format</small>
            }
            }
        </div>


        <div class="mb-3 position-relative">
            <label for="newPassword" class="form-label">New Password</label>
            <input formControlName="newPassword" [type]="showPassword()?'text':'password'" class="form-control"
                id="newPassword" [ngClass]="{
                'is-valid': !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||
            resetPassword.get('newPassword')?.dirty),
                'is-invalid': resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||
            resetPassword.get('newPassword')?.dirty)
            }">
            <i class="fa-solid" [ngClass]="showPassword() ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"
                style="position:absolute; right:30px; top:42px; cursor:pointer;"></i>

            @if (resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||
            resetPassword.get('newPassword')?.dirty)) {
            @if (resetPassword.get('newPassword')?.getError('required')) {
            <small class="text-danger">*Password is required</small>
            }
            @else if (resetPassword.get('newPassword')?.getError('pattern')) {
            <small class="text-danger">*Minimum 6 characters</small>
            }
            }
        </div>


        <div class="d-flex align-items-center justify-content-between">
            <a [routerLink]="['/login']" class="text-decoration-underline link-primary">Back to Login</a>
            <button type="submit" class="btn-main ">Verify Email
                @if (isLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
    }
</section>