<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img src="./images/freshcart-logo.svg" alt="Freshcart Logo"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active-link">{{ "navbar.Home" |
                        translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products" routerLinkActive="active-link">{{ "navbar.Products" |
                        translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categories" routerLinkActive="active-link">{{ "navbar.Categories" |
                        translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands" routerLinkActive="active-link">{{ "navbar.Brands" |
                        translate}}</a>
                </li>

            </ul>

            <ul class="navbar-nav me-auto">
            </ul>

            <ul class="navbar-nav align-items-center">

                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        {{ 'auth.language' | translate }} ({{ currentLang.toUpperCase() }})
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <button class="dropdown-item" (click)="changeLang('en')">
                                🇺🇸 English
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" (click)="changeLang('ar')">
                                🇪🇬 العربية
                            </button>
                        </li>
                    </ul>
                </li>

                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </li>
                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li class="nav-item cr">
                    <a class="nav-link">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>

                <li class="nav-item position-relative">
                    <a class="nav-link" routerLink="cart" routerLinkActive="active-link">

                        <i class="fa-solid fa-cart-shopping"></i>
                        <span
                            class="position-absolute top-0 mt-1 start-100 translate-middle badge rounded-pill bg-danger">

                            @if (cartItemsNumber$ | async; as cartItemsNumber) {
                            {{ cartItemsNumber > 99 ? '99+' : cartItemsNumber }}
                            }

                        </span>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link cr" (click)="_authService.logOut()">{{ "navbar.Signout" | translate}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>